body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: #ffffff;
  text-align: center;
}

/* knapper */
a.btn {
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}
a.btn:hover {
  background: #ffffff;
  color: #000000;
}

/* header, section, footer */
header, section, footer {
  background: #000000;
  padding: 50px 20px;
}
